# CHALLENGE ONE

***Desafio Telecom X***

O desafio Telecom X √© uma oportunidade para aplica√ß√£o das habilidades essenciais de an√°lise de dados em um cen√°rio de neg√≥cios real.

#### Dicion√°rio de dados

* `customerID`: n√∫mero de identifica√ß√£o √∫nico de cada cliente
* `Churn`: se o cliente deixou ou n√£o a empresa
* `gender`: g√™nero (masculino e feminino)
* `SeniorCitizen`: informa√ß√£o sobre um cliente ter ou n√£o idade igual ou maior que 65 anos
* `Partner`:  se o cliente possui ou n√£o um parceiro ou parceira
* `Dependents`: se o cliente possui ou n√£o dependentes
* `tenure`:  meses de contrato do cliente
* `PhoneService`: assinatura de servi√ßo telef√¥nico
* `MultipleLines`: assisnatura de mais de uma linha de telefone
* `InternetService`: assinatura de um provedor internet
* `OnlineSecurity`: assinatura adicional de seguran√ßa online
* `OnlineBackup`: assinatura adicional de backup online
* `DeviceProtection`: assinatura adicional de prote√ß√£o no dispositivo
* `TechSupport`: assinatura adicional de suporte t√©cnico, menos tempo de espera
* `StreamingTV`: assinatura de TV a cabo
* `StreamingMovies`: assinatura de streaming de filmes
* `Contract`: tipo de contrato
* `PaperlessBilling`: se o cliente prefere receber online a fatura
* `PaymentMethod`: forma de pagamento
* `Charges.Monthly`: total de todos os servi√ßos do cliente por m√™s
* `Charges.Total`: total gasto pelo cliente

# üìå Extrac√£o

In [ ]:
import pandas as pd

dados = pd.read_json('/content/TelecomX_Data.json')

In [ ]:
customer_normalized = pd.json_normalize(dados['customer'])

phone_normalized = pd.json_normalize(dados['phone'])

internet_normalized = pd.json_normalize(dados['internet'])

account_normalized = pd.json_normalize(dados['account'])

normalized_df = pd.concat([
    dados[['customerID', 'Churn']],
    customer_normalized,
    phone_normalized,
    internet_normalized,
    account_normalized
], axis=1)

In [ ]:
normalized_df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

# üîß Transforma√ß√£o

In [ ]:
normalized_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
# Procurando espa√ßos em branco

df_strings = normalized_df.select_dtypes(include='object')

espacos_vazios_por_coluna = (df_strings.apply(lambda col: col.str.strip() == '')).sum()

print("Valores como string vazia ou s√≥ espa√ßos por coluna:")
print(espacos_vazios_por_coluna)

Valores como string vazia ou s√≥ espa√ßos por coluna:
customerID            0
Churn               224
gender                0
Partner               0
Dependents            0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Total        11
dtype: int64

In [ ]:
# ===== 2. Substituir espa√ßos por NaN =====
normalized_df = normalized_df.replace(r'^\s*$', np.nan, regex=True)

print("Valores nulos:\n\n",normalized_df.isnull().sum())

Valores nulos:

 customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total        11
dtype: int64

In [ ]:
'''
Tratamento de Dados Ausentes na Coluna Churn:
Durante a etapa de pr√©-processamento, 224 registros (aproximadamente 3,08% do total de clientes) foram identificados com informa√ß√µes ausentes ou inv√°lidas na coluna Churn.
Esses dados foram removidos da an√°lise. √â importante notar que a aus√™ncia dessas informa√ß√µes pode impactar ligeiramente os resultados, mas a remo√ß√£o foi necess√°ria para
garantir a consist√™ncia e a confiabilidade do modelo anal√≠tico e dos dados de treinamento.

'''

# Removendo as linhas com informa√ß√£o faltante

normalized_df = normalized_df.dropna(subset=['Churn'])

print("Valores nulos:\n\n",normalized_df.isnull().sum())

Valores nulos:

 customerID           0
Churn                0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
Charges.Monthly      0
Charges.Total       11
dtype: int64

In [ ]:
nulos_charges = normalized_df[normalized_df['Charges.Total'].isnull()]
print(nulos_charges[['customerID', 'tenure', 'Charges.Monthly', 'Churn']])

      customerID  tenure  Charges.Monthly Churn
975   1371-DWPAZ       0            56.05    No
1775  2520-SGTTA       0            20.00    No
1955  2775-SEFEE       0            61.90    No
2075  2923-ARZLG       0            19.70    No
2232  3115-CZMZD       0            20.25    No
2308  3213-VVOLG       0            25.35    No
2930  4075-WKNIU       0            73.35    No
3134  4367-NUYAO       0            25.75    No
3203  4472-LVYGI       0            52.55    No
4169  5709-LVOEQ       0            80.85    No
5599  7644-OMVMY       0            19.85    No

In [ ]:
'''
Na an√°lise acima foi poss√≠vel observar que os 11 valores n√£o preenchidos na coluna 'Charges.Total' provavelmente se deve ao fato de serem clientes novos,
j√° que continuam ativos na cluna 'Churn', mas possuem zero meses de contrato. Portanto, ainda n√£o foi emitida nenhuma cobran√ßa completa. Para n√£o interferir na an√°lise,
usaremos apenas os clientes que j√° completaram pelo menos 1 m√™s e tiveram a chance de cancelar.

'''

df_analise = normalized_df[normalized_df['tenure'] > 0]

In [ ]:
'''

# Contar quantos valores por coluna s√£o apenas espa√ßos ou vazios
espacos_vazios = (normalized_df.applymap(lambda x: isinstance(x, str) and x.strip() == '')).sum()

print("Valores como string vazia ou s√≥ espa√ßos por coluna:")
print(espacos_vazios[espacos_vazios > 0])

'''

In [ ]:
'''

possiveis_nulos = ["NA", "N/A", "null", "NULL", "?", "-", "--"]

mascara_possiveis_nulos = normalized_df.applymap(lambda x: isinstance(x, str) and x.strip().upper() in [p.upper() for p in possiveis_nulos])

print("Valores suspeitos encontrados por coluna:")
print(mascara_possiveis_nulos.sum()[mascara_possiveis_nulos.sum() > 0])

'''

In [ ]:
for col in df_analise.columns:
    print(f"\nColuna: {col}")
    print(df_analise[col].value_counts(dropna=False).head())

Coluna: customerID
customerID
9995-HOTOH    1
0002-ORFBO    1
0003-MKNFE    1
0004-TLHLJ    1
0011-IGKFF    1
Name: count, dtype: int64

Coluna: Churn
Churn
No     5163
Yes    1869
Name: count, dtype: int64

Coluna: gender
gender
Male      3549
Female    3483
Name: count, dtype: int64

Coluna: SeniorCitizen
SeniorCitizen
0    5890
1    1142
Name: count, dtype: int64

Coluna: Partner
Partner
No     3639
Yes    3393
Name: count, dtype: int64

Coluna: Dependents
Dependents
No     4933
Yes    2099
Name: count, dtype: int64

Coluna: tenure
tenure
1     613
72    362
2     238
3     200
4     176
Name: count, dtype: int64

Coluna: PhoneService
PhoneService
Yes    6352
No      680
Name: count, dtype: int64

Coluna: MultipleLines
MultipleLines
No                  3385
Yes                 2967
No phone service     680
Name: count, dtype: int64

Coluna: InternetService
InternetService
Fiber optic    3096
DSL            2416
No             1520
Name: count, dtype: int64

Coluna: OnlineSecurity
OnlineSecurity
No                     3497
Yes                    2015
No internet service    1520
Name: count, dtype: int64

Coluna: OnlineBackup
OnlineBackup
No                     3087
Yes                    2425
No internet service    1520
Name: count, dtype: int64

Coluna: DeviceProtection
DeviceProtection
No                     3094
Yes                    2418
No internet service    1520
Name: count, dtype: int64

Coluna: TechSupport
TechSupport
No                     3472
Yes                    2040
No internet service    1520
Name: count, dtype: int64

Coluna: StreamingTV
StreamingTV
No                     2809
Yes                    2703
No internet service    1520
Name: count, dtype: int64

Coluna: StreamingMovies
StreamingMovies
No                     2781
Yes                    2731
No internet service    1520
Name: count, dtype: int64

Coluna: Contract
Contract
Month-to-month    3875
Two year          1685
One year          1472
Name: count, dtype: int64

Coluna: PaperlessBilling
PaperlessBilling
Yes    4168
No     2864
Name: count, dtype: int64

Coluna: PaymentMethod
PaymentMethod
Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: count, dtype: int64

Coluna: Charges.Monthly
Charges.Monthly
20.05    61
19.85    44
19.95    44
19.90    44
19.65    43
Name: count, dtype: int64

Coluna: Charges.Total
Charges.Total
20.2     11
19.75     9
19.9      8
19.65     8
20.05     8
Name: count, dtype: int64

In [ ]:
# ===== 1. C√≥pia de seguran√ßa =====
df = df_analise.copy()

In [ ]:
# ===== 5. Remover redund√¢ncias =====
# Substituir "No internet service" por "No"
cols_internet = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                 'TechSupport', 'StreamingTV', 'StreamingMovies']
for col in cols_internet:
    df[col] = df[col].replace('No internet service', 'No')

In [ ]:
# Verificar se h√° IDs duplicados
duplicados = df[df['customerID'].duplicated(keep=False)]

if duplicados.empty:
    print("Nenhum ID duplicado encontrado.")
else:
    print(f"Foram encontrados {duplicados.shape[0]} registros com ID duplicado.\n")
    print(duplicados.sort_values(by='customerID'))

Nenhum ID duplicado encontrado.

In [ ]:
'''
 Para um melhor resultado com um futuro modelo de machine learning, optamos por substituir os valores categ√≥ricos 'Yes' e 'No' por valores bin√°rios num√©ricos.

 '''

pd.set_option('future.no_silent_downcasting', True)

# Mapeamento para substituir 'Yes' e 'No' por 1 e 0
mapeamento_binario = {'Yes': 1, 'No': 0, 'No phone service': 0, 'No internet service': 0}

# Colunas com valores bin√°rios ('Yes'/'No')
colunas_para_converter = [
    'Churn', 'Partner', 'Dependents', 'PhoneService', 'OnlineSecurity',
    'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
    'StreamingMovies', 'PaperlessBilling'
    ]

# Aplique o mapeamento em todas as colunas da lista
for col in colunas_para_converter:
    df.loc[:, col] = df[col].replace(mapeamento_binario)

In [ ]:
# Alterando o tipo nos valores bin√°rios
colunas_para_converter
df[colunas_para_converter] = df[colunas_para_converter].astype(np.int64)

In [ ]:
# Corrigindo o tipo da coluna Charges.Total
df['Charges.Total'] = df['Charges.Total'].astype(np.float64)

In [ ]:
# Foi solicitada a cria√ß√£o da coluna "Contas_Diarias", utilizando o faturamento mensal para calcular o valor di√°rio, com o objetico de proporcionar uma vis√£o mais detalhada do comportamento dos clientes ao longo do tempo.

df['DailyAccounts'] = df['Charges.Monthly'] / 30

print(df[['Charges.Monthly', 'tenure', 'DailyAccounts']].head())

   Charges.Monthly  tenure  DailyAccounts
0             65.6       9       2.186667
1             59.9       9       1.996667
2             73.9       4       2.463333
3             98.0      13       3.266667
4             83.9       3       2.796667

In [ ]:
# Nomes das colunas
print(df.columns)

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly', 'Charges.Total',
       'DailyAccounts'],
      dtype='object')

In [ ]:
# Foi sugerido traduzir as colunas para facilitar a compreens√£o da an√°lise

novos_nomes = {
    'customerID': 'ID_Cliente',
    'Churn': 'Cancelamento',
    'gender': 'Genero_Biolgico',
    'SeniorCitizen': 'Cidadao_Senior',
    'Partner': 'Parceiro',
    'Dependents': 'Dependentes',
    'tenure': 'Meses_Contrato',
    'PhoneService': 'Servico_Telefone',
    'MultipleLines': 'Multiplas_Linhas',
    'InternetService': 'Servico_Internet',
    'OnlineSecurity': 'Seguraca_Online',
    'OnlineBackup': 'Backup_Online',
    'DeviceProtection': 'Protecao_Dispositivo',
    'TechSupport': 'Suporte_Tecnico',
    'StreamingTV': 'Streaming_TV',
    'StreamingMovies': 'Streaming_Filmes',
    'Contract': 'Tipo_Contrato',
    'PaperlessBilling': 'Fatura_Online',
    'PaymentMethod': 'Metodo_Pagamento',
    'Charges.Monthly': 'Cobranca_Mensal',
    'Charges.Total': 'Cobranca_Total',
    'DailyAccounts': 'Custo_Diario'
}

df.rename(columns=novos_nomes, inplace=True)

print(df.columns)

Index(['ID_Cliente', 'Cancelamento', 'Genero_Biolgico', 'Cidadao_Senior',
       'Parceiro', 'Dependentes', 'Meses_Contrato', 'Servico_Telefone',
       'Multiplas_Linhas', 'Servico_Internet', 'Seguraca_Online',
       'Backup_Online', 'Protecao_Dispositivo', 'Suporte_Tecnico',
       'Streaming_TV', 'Streaming_Filmes', 'Tipo_Contrato', 'Fatura_Online',
       'Metodo_Pagamento', 'Cobranca_Mensal', 'Cobranca_Total',
       'Custo_Diario'],
      dtype='object')

In [ ]:
mapeamento_genero = {'Female': 'Feminino', 'Male': 'Masculino'}

df['Genero_Biolgico'] = df['Genero_Biolgico'].replace(mapeamento_genero)

print(df['Genero_Biolgico'].value_counts())

Genero_Biolgico
Masculino    3549
Feminino     3483
Name: count, dtype: int64

In [ ]:
mapeamento_linhas = {'No': 'Nao', 'Yes': 'Sim', 'No phone service': 'Sem servico de telefone'}

df['Multiplas_Linhas'] = df['Multiplas_Linhas'].replace(mapeamento_linhas)

print(df['Multiplas_Linhas'].value_counts())

Multiplas_Linhas
Nao                        3385
Sim                        2967
Sem servico de telefone     680
Name: count, dtype: int64

In [ ]:
mapeamento_internet = {'No': 'Nao', 'Fiber optic' : 'Fibra otica', 'DSL': 'DSL'}

df['Servico_Internet'] = df['Servico_Internet'].replace(mapeamento_internet)

print(df['Servico_Internet'].value_counts())

Servico_Internet
Fibra otica    3096
DSL            2416
Nao            1520
Name: count, dtype: int64

In [ ]:
mapeamento_contrato = {'Month-to-month' : 'Mensal', 'One year': 'Um ano', 'Two year': 'Dois anos'}

df['Tipo_Contrato'] = df['Tipo_Contrato'].replace(mapeamento_contrato)

print(df['Tipo_Contrato'].value_counts())

Tipo_Contrato
Mensal       3875
Dois anos    1685
Um ano       1472
Name: count, dtype: int64

In [ ]:
mapeamento_pagamento = {'Cheque eltronico' : 'Cheque eletronico', 'Mailed check': 'Cheque por correio', 'Bank transfer (automatic)': 'Transferencia bancaria (automatica)', 'Credit card (automatic)': 'Cartao de credito (automatica)'}

df['Metodo_Pagamento'] = df['Metodo_Pagamento'].replace(mapeamento_pagamento)

print(df['Metodo_Pagamento'].value_counts())

Metodo_Pagamento
Cheque eletronico                      2365
Cheque por correio                     1604
Transferencia bancaria (automatica)    1542
Cartao de credito (automatica)         1521
Name: count, dtype: int64

In [ ]:
print(df.describe())

       Cancelamento  Cidadao_Senior     Parceiro  Dependentes  Meses_Contrato  \
count   7032.000000     7032.000000  7032.000000  7032.000000     7032.000000
mean       0.265785        0.162400     0.482509     0.298493       32.421786
std        0.441782        0.368844     0.499729     0.457629       24.545260
min        0.000000        0.000000     0.000000     0.000000        1.000000
25%        0.000000        0.000000     0.000000     0.000000        9.000000
50%        0.000000        0.000000     0.000000     0.000000       29.000000
75%        1.000000        0.000000     1.000000     1.000000       55.000000
max        1.000000        1.000000     1.000000     1.000000       72.000000

       Servico_Telefone  Seguraca_Online  Backup_Online  Protecao_Dispositivo  \
count       7032.000000      7032.000000    7032.000000           7032.000000
mean           0.903299         0.286547       0.344852              0.343857
std            0.295571         0.452180       0.475354              0.475028
min            0.000000         0.000000       0.000000              0.000000
25%            1.000000         0.000000       0.000000              0.000000
50%            1.000000         0.000000       0.000000              0.000000
75%            1.000000         1.000000       1.000000              1.000000
max            1.000000         1.000000       1.000000              1.000000

       Suporte_Tecnico  Streaming_TV  Streaming_Filmes  Fatura_Online  \
count      7032.000000   7032.000000       7032.000000    7032.000000
mean          0.290102      0.384386          0.388367       0.592719
std           0.453842      0.486484          0.487414       0.491363
min           0.000000      0.000000          0.000000       0.000000
25%           0.000000      0.000000          0.000000       0.000000
50%           0.000000      0.000000          0.000000       1.000000
75%           1.000000      1.000000          1.000000       1.000000
max           1.000000      1.000000          1.000000       1.000000

       Cobranca_Mensal  Cobranca_Total  Custo_Diario
count      7032.000000     7032.000000   7032.000000
mean         64.798208     2283.300441      2.159940
std          30.085974     2266.771362      1.002866
min          18.250000       18.800000      0.608333
25%          35.587500      401.450000      1.186250
50%          70.350000     1397.475000      2.345000
75%          89.862500     3794.737500      2.995417
max         118.750000     8684.800000      3.958333

In [ ]:
print(df.describe(include='all'))

        ID_Cliente  Cancelamento Genero_Biolgico  Cidadao_Senior     Parceiro  \
count         7032   7032.000000            7032     7032.000000  7032.000000
unique        7032           NaN               2             NaN          NaN
top     9995-HOTOH           NaN       Masculino             NaN          NaN
freq             1           NaN            3549             NaN          NaN
mean           NaN      0.265785             NaN        0.162400     0.482509
std            NaN      0.441782             NaN        0.368844     0.499729
min            NaN      0.000000             NaN        0.000000     0.000000
25%            NaN      0.000000             NaN        0.000000     0.000000
50%            NaN      0.000000             NaN        0.000000     0.000000
75%            NaN      1.000000             NaN        0.000000     1.000000
max            NaN      1.000000             NaN        1.000000     1.000000

        Dependentes  Meses_Contrato  Servico_Telefone Multiplas_Linhas  \
count   7032.000000     7032.000000       7032.000000             7032
unique          NaN             NaN               NaN                3
top             NaN             NaN               NaN              Nao
freq            NaN             NaN               NaN             3385
mean       0.298493       32.421786          0.903299              NaN
std        0.457629       24.545260          0.295571              NaN
min        0.000000        1.000000          0.000000              NaN
25%        0.000000        9.000000          1.000000              NaN
50%        0.000000       29.000000          1.000000              NaN
75%        1.000000       55.000000          1.000000              NaN
max        1.000000       72.000000          1.000000              NaN

       Servico_Internet  ...  Suporte_Tecnico  Streaming_TV  Streaming_Filmes  \
count              7032  ...      7032.000000   7032.000000       7032.000000
unique                3  ...              NaN           NaN               NaN
top         Fibra otica  ...              NaN           NaN               NaN
freq               3096  ...              NaN           NaN               NaN
mean                NaN  ...         0.290102      0.384386          0.388367
std                 NaN  ...         0.453842      0.486484          0.487414
min                 NaN  ...         0.000000      0.000000          0.000000
25%                 NaN  ...         0.000000      0.000000          0.000000
50%                 NaN  ...         0.000000      0.000000          0.000000
75%                 NaN  ...         1.000000      1.000000          1.000000
max                 NaN  ...         1.000000      1.000000          1.000000

        Tipo_Contrato  Fatura_Online   Metodo_Pagamento Cobranca_Mensal  \
count            7032    7032.000000               7032     7032.000000
unique              3            NaN                  4             NaN
top            Mensal            NaN  Cheque eletronico             NaN
freq             3875            NaN               2365             NaN
mean              NaN       0.592719                NaN       64.798208
std               NaN       0.491363                NaN       30.085974
min               NaN       0.000000                NaN       18.250000
25%               NaN       0.000000                NaN       35.587500
50%               NaN       1.000000                NaN       70.350000
75%               NaN       1.000000                NaN       89.862500
max               NaN       1.000000                NaN      118.750000

        Cobranca_Total Custo_Diario  Metodo_Pagamento\t
count      7032.000000  7032.000000                7032
unique             NaN          NaN                   4
top                NaN          NaN  Cheque electronico
freq               NaN          NaN                2365
mean       2283.300441     2.159940                 NaN
std        2266.771362     1.002866                 NaN
min          18.800000     0.608333                 NaN
25%         401.450000     1.186250                 NaN
50%        1397.475000     2.345000                 NaN
75%        3794.737500     2.995417                 NaN
max        8684.800000     3.958333                 NaN

[11 rows x 23 columns]

# üìä Carga e an√°lise

In [ ]:
normalized_df.describe()

       SeniorCitizen       tenure  Charges.Monthly
count    7267.000000  7267.000000      7267.000000
mean        0.162653    32.346498        64.720098
std         0.369074    24.571773        30.129572
min         0.000000     0.000000        18.250000
25%         0.000000     9.000000        35.425000
50%         0.000000    29.000000        70.300000
75%         0.000000    55.000000        89.875000
max         1.000000    72.000000       118.750000

# RELAT√ìRIO FINAL